@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@300;400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family: "Red Hat Display";
}
body {
  background: url(images/pattern-background-desktop.svg) no-repeat center center /
      cover,
    #e0e8ff;
}
a {
  text-decoration: none;
}

.orderSumCard {
  position: absolute;
  width: 420px;
  border-radius: 20px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #fff;
  box-shadow: 0 10px 30px rgba(0, 0, 150, 0.15);
}

img {
  width: 100%;
  z-index: -1;
  margin-bottom: -1px;
}
.cardBody {
  text-align: center;
  padding: 50px;
  color: hsl(223, 47%, 23%);
}
h1 {
  font-size: 1.7rem;
  font-weight: 900;
  margin-bottom: 20px;
}
.sumText {
  color: hsl(222, 20%, 61%);
  font-weight: 600;
  margin-bottom: 30px;
  line-height: 1.5rem;
}
.plan {
  display: grid;
  grid-template-columns: 1fr 3fr 2fr;
  align-items: center;
  padding: 15px;
  margin-bottom: 20px;
  background: rgba(248, 248, 255, 1);
  border-radius: 7px;
  font-size: 0.9rem;
}
.plan img {
  width: 80%;
}
.price {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  margin-left: 5px;
}
.price strong {
  font-weight: 900;
}

button.proceed {
  display: block;
  width: 100%;
  padding: 10px;

  background: hsl(245, 75%, 52%);
  border: none;
  border-radius: 10px;
  color: #fff;
  font-size: 0.9rem;
  font-weight: bold;

  margin-bottom: 30px;
  box-shadow: 0 10px 30px rgba(0, 0, 150, 0.25);

  cursor: pointer;
}
button.proceed:hover {
  background: rgba(56, 41, 224, 0.75);
}

.cancel {
  font-size: 0.8rem;
  font-weight: 900;

  color: hsl(224, 23%, 55%);
}
.cancel:hover {
  color: hsl(223, 47%, 23%);
}
