@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@300;400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family: "Red Hat Display";
}
body {
  background: url(images/pattern-background-desktop.svg) no-repeat, #e0e8ff;
}
a {
  text-decoration: none;
}

.orderSumCard {
  position: absolute;
  width: 350px;
  border-radius: 15px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #fff;
  box-shadow: 0 10px 30px rgba(0, 0, 150, 0.15);
}
